<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <style>
    .container {
      margin-top: 50px;
    }
  </style>
</head>

<body>
  <div class="container" id="app">
    <form class="form-inline">
      <div class="form-group">
        <label for="">id</label>
        <input type="text" class="form-control" v-model="id">
      </div>
      <div class="form-group">
        <label for="">名称</label>
        <input type="email" class="form-control" v-model="name">
      </div>
      <button type="submit" class="btn btn-default" @click.prevent="add">添加</button>
      |
      <div class="form-group">
        <label for="exampleInputEmail2">根据 name 过滤：</label>
        <input type="text" class="form-control" v-model="filterText">
      </div>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>名称</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <!-- 
          将 filterData() 替换为 计算属性
         -->
        <tr v-for="item in filterData" :key="item.id">
          <td>{{ item.id }}</td>
          <td v-text="item.name"></td>
          <td>{{ item.time | date }}</td>
          <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="./node_modules/moment/moment.js"></script>
  <script>
    // Vue的特点：
    //  只要数据改变，页面中所有的指令和表达式都会被重新计算一次
    //  1 一定是在页面中的
    //  2 事件除外

    // 创建过滤器
    Vue.filter('date', (input) => {
      return moment(input).format('YYYY-MM-DD HH:mm:ss')
    })

    var vm = new Vue({
      el: '#app',

      data: {
        id: '',
        name: '',
        filterText: '',

        list: [
          { id: 1, name: '奔驰', time: new Date() },
          { id: 2, name: '宝马', time: new Date() },
          { id: 3, name: '玛莎拉蒂', time: new Date() },
          { id: 4, name: '比亚迪唐', time: new Date() },
        ]
      },
      
      // 创建一个计算属性：
      computed: {
        // 这个计算属性依赖于： this.list / this.filterText
        filterData () {
          console.log('计算属性 filterData 执行了')

          return this.list.filter((item) => item.name.indexOf(this.filterText) !== -1)
        }
      },

      methods: {
        add () {
          // console.log('单机事件触发了')
          var brand = {
            id: this.id,
            name: this.name,
            time: new Date()
          }
          
          // 添加到list中
          this.list.push(brand)

          // 清空文本框
          this.id = ''
          this.name = ''
        },

        del (id) {
          // 4 去掉 return
          var index = this.list.findIndex((item) => item.id === id)

          // console.log('索引号：', index)
          this.list.splice(index, 1)
        }
      }
    })
  </script>

</body>

</html>